extends ../../_layouts/base

include ../../_modules/checkbox/checkbox
include ../../_modules/link/link
include ../../_modules/radiobutton/radiobutton
include ../../_modules/switch/switch

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../'

block content
    .container
        .wrap
            .col-12
                h1 Modules list:

        .wrap
            .col-12
                h6 Form

                form.form

                    .form__item
                        label(for="input-3")
                            | Email address*
                        input.form-text(id="input-3" type="email" required)         

                    +checkbox({"id" : "checkbox-1", "label" : "This is a checkbox"})

                    +radiobutton({"id" : "radio-1", "label" : "This is a radiobutton"})

                    .form__item.form-select
                        label(for="dropdown-1")
                            | Country*

                        select(id="dropdown-1")
                            option(value="1")
                                | Australia

                            option(value="2")
                                | New Zealand

                    .form__actions
                        input(value="Submit" type="submit")

        .wrap
            .col-12
                h6 Table 

                table.table
                    thead
                        tr
                            th ID
                            th Title
                            th Name
                            th Details

                    tbody
                        each item, index in site.data.sampledata.items
                            tr
                                td=item.id
                                td=item.title
                                td=item.name
                                td=item.details

        .wrap
            .col-12
                h6 Table Scrollable

                .table--scrollable__container

                    .table--sticky-header__wrap

                        table.table--sticky-header
                            thead
                                tr
                                    th ID
                                    th Title
                                    th Name
                                    th Details

                    .table--scrollable__wrap

                        table.table--scrollable
                            thead
                                tr
                                    th ID
                                    th Title
                                    th Name
                                    th Details

                            tbody
                                each item, index in site.data.sampledata.items
                                    tr
                                        td=item.id
                                        td=item.title
                                        td=item.name
                                        td=item.details
         
         .wrap
            .col-12
                h6 Link

                +link({"class" : "border", "text" : "this is a link with border on hover"})

        .wrap
            .col-12
                h6 Switch

                +switch({"positionTitle" : "left"})

            





  
